.logo {
  background: url(../img/techreedLogo6.png) no-repeat center center / contain;
  height: 50px;
  width: 155px;
  cursor: pointer;
  float: left;
  /*margin-top: 7px;*/
}

div.wrapperBanner {
  background: url(../img/frontcover.png) no-repeat;
  background-size: cover;
  background-color: #E9E8E6;
  height: 672px;
  display: table;
  width: 100%;
}

.cust-img {
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/app-makeover.png);
  margin: 60px auto;
}

.cust-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

section {
  padding: 60px 0px;
}

section#mainBanner {
  padding-top: 0;
}

header.remove {
  -webkit-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  transform: translateY(-70px);
  opacity: 0;
}

header {
  padding: 0 20px;
  position: fixed;
  top: 0;
  opacity: 1;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

div#taglineDiv {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(24, 24, 24, 1);
  padding: 0px 20px;
}

#mainBanner .wrapperDiv {
  display: table;
  height: 100px;
  width: 100%;
  max-width: 788px;
  margin: auto;
}


/* #clients .client-img {
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#clients .client-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */


/* .client-1 {
  background-image: url(../img/product-hunt.png);
}
.client-2 {
  background-image: url(../img/appstore.png);
}
.client-3 {
  background-image: url(../img/webrazzi.png);
}
.client-4 {
  background-image: url(../img/f6s.png);
}
.client-5 {
  background-image: url(../img/london-partners.png);
}
.client-6 {
  background-image: url(../img/businessmatters.png);
} */

#work .work {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#work .work:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.work-1 {
  background-image: url('../img/work1.png');
  background-color: #2f323d;
}
.work-2 {
  background-image: url('../img/work2.png');
  background-color: #4c311e;
}
.work-3 {
  background-image: url('../img/work3.png');
  background-color: #4e2ba2;
}
.work-4 {
  background-image: url('../img/work4.png');
  background-color: #1faca6;
}
.work-5 {
  background-image: url('../img/work5.png');
  background-color: #f1695b;
}
.work-6 {
  background-image: url('../img/work6.png');
  background-color: #ffe100;
}