@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proximanova-light/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light/proximanova-light-webfont.woff2') format('woff2'), url('../fonts/proximanova-light/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova-semibold/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.woff2') format('woff2'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximanova-bold/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo {
  background: url(../img/techreedLogo6.png) no-repeat center center / contain;
  height: 50px;
  width: 155px;
  cursor: pointer;
  float: left;
  /*margin-top: 7px;*/
}

div.wrapperBanner {
  background: url(../img/frontcover.png) no-repeat;
  background-size: cover;
  background-color: #E9E8E6;
  height: 672px;
  display: table;
  width: 100%;
}

.cust-img {
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/app-makeover.png);
  margin: 60px auto;
}

.cust-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

section {
  padding-top: 60px;
}

section#mainBanner {
  padding-top: 0;
}

section#mainBanner h1 {
  font-family: 'proxima_novalight';
  font-size: 50px;
}
header.remove {
  -webkit-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  transform: translateY(-70px);
  opacity: 0;
}

header {
  padding: 0 20px;
  position: fixed;
  top: 0;
  opacity: 1;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

div#taglineDiv {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(24, 24, 24, 1);
  padding: 0px 20px;
}

#mainBanner .wrapperDiv {
  display: table;
  height: 100px;
  width: 100%;
  max-width: 788px;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.caps {
  text-transform: uppercase;
}

.center-div {
  text-align: center;
}
#get-started h2 {
  font-family: 'proxima_novalight';
  font-size: 45px;
}
#get-started > .container > .row {
  margin-top: 40px;
}
section#get-started, #swift-section, #clients, #work {
  padding-bottom: 60px;
}
.step-wrapper {
  box-shadow: 0px 1px 7px #c7c7c7;
  padding: 30px;
  text-align: center;
  min-height: 420px;
}

.step-wrapper .stepno {
  /*margin-bottom: 60px;*/
  font-family: 'proxima_nova_rgregular';
  font-size: 22px;
  text-align: center;
}
.step-wrapper h3 {
  font-family: 'proxima_novasemibold';
  font-size: 18px;
}
.step-wrapper p {
  font-family: 'proxima_nova_rgregular';
  font-size: 14px;
  text-align: left;
}
.step-wrapper img{
  width: 70px;
}
.step-wrapper .step-img {
  width: 70px;
  height: 130px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
 .step-img.step1{
  background-image: url(../img/step-1-img.png);
}
 .step-img.step2{
  background-image: url(../img/step-2-img.png);
}
 .step-img.step3{
  background-image: url(../img/step-3-img.png);
}


.about-app-setup {
  margin-top: 50px;
}

.app-setup-wrapper {
  /*background: #5cccfe;*/
  padding: 20px;
  text-align: center;
}

.line-btn {
  border: 2px solid;
  background: transparent;
  padding: 10px 60px;
  border-radius: 4px;
  font-family: 'proxima_nova_rgregular';
  font-weight: bold;
  font-size: 15px;
}

.btn-white {
  color: white;
  border-color: white;
}

.btn-theme-color {
  color: #8ac832;
  border-color: #8ac832;
}

.app-make-1 {
  background-color: #5cccfe;
}
.app-make-2 {
  background-color: #f86767;
}
.app-make-3 {
  background-color: #9080f8;
}
.app-make-4 {
  background-color: #d47ec6;
}
.app-setup-wrapper h3 {
  color: white;
  font-family: 'proxima_novasemibold';
  font-size: 18px;
}
.app-setup-wrapper p {
  color: #55524f;
  font-family: 'proxima_novasemibold';
  font-size: 16px;
}
.app-make-1 .cust-img {
  background-image: url(../img/app-makeover.png);
      margin: 75px 63px 46px 60px;
}
.app-make-2 .cust-img {
  background-image: url(../img/app-enhancement.png);
}
.app-make-3 .cust-img {
  background-image: url(../img/extra-steps-3.png);
  width: 80%;
  margin: 24px 20px;
}
.app-make-4 .cust-img {
  background-image: url(../img/extra-steps-4.png);
}
#swift-section {
  background-color: #8ac832;
}

section .section-col-wrapper {
  background-color: white;
  padding: 50px;
  text-align: center;
}
#swift-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #9ace40;
  font-size: 35px;
}
#swift-section  .section-col-wrapper {
  height: 615px;
}
#swift-section p {
  font-family: 'proxima_nova_rgregular';
  line-height: 35px;
  font-size: 20px;
  margin-bottom: 20px;
}
section h2 {
    font-family: 'proxima_novalight';
    font-size: 45px;
    color: #55524f;
}
section#startups h3 {
  color: #6bd6fe;
  font-family: 'proxima_novasemibold';
  font-size: 22px;
  line-height: 40px;
}

#startups p {
  font-size: 18px;
  font-family: 'proxima_nova_rgregular';
}
.startup-img{
  width: 60%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 30px auto;
}
.startup-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#startups .section-row-wrapper .row {
  margin-bottom: 50px;
}
#startups .startup-1 .startup-img{
  background-image: url(../img/startup-1.png);
}
#startups .startup-2 .startup-img{
  background-image: url(../img/startup-2.png);
}
#startups .startup-3 .startup-img{
  background-image: url(../img/startup-3.png);
}
#startups .startup-4 .startup-img{
  background-image: url(../img/startup-4.png);
}

section#clients {
  background-color: #5cccfe;
}

#clients .section-row-wrapper {
  background-color: white;
  max-width: 100%;
  padding: 30px;
}

.client-img {
  margin: auto;
}

.client-1 {
  width: 100px;
}

.client-2 {
  width: 70px;
}

.client-3 {
  width: 146px;
  margin: 18px auto;
}

.client-4 {
  width: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.client-5 {
  width: 146px;
  margin: 18px auto;
}

.client-6 {
  width: 150px;
  margin: 18px auto;
}

.client-7 {
  width: 146px;
  margin: 18px auto;
}

.client-8 {
  width: 150px;
  margin: 18px auto;
}

#clients .section-row-wrapper .row {
  margin-top: 30px;
}

.shadow-box {
  box-shadow: 0px 2px 10px #8c8c8c;
}
#clients .after-title {
  font-family: 'proxima_novalight';
  font-size: 30px;
}

#work .row {
  margin-top: 30px;
}
#work .section5-bottom span.proname a {
  font-size: 14px;
  font-family: 'proxima_novasemibold';
  color: #9ace40;
  margin: 13px 0px;
  display: inline-block;
  text-decoration: none;
}
#work ul.bottom-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
#work ul.bottom-ul li {
  float: right;
  margin: 5px;
}
#work ul.bottom-ul li a {

}
#work ul.bottom-ul li a div {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#work ul.bottom-ul li a div.android {
  background-image: url(../img/androidTab.png);
}
#work ul.bottom-ul li a div.open-tab {
  background-image: url(../img/open-new-tab.png);
  width: 20px;
  margin: 0 10px;
}
#work ul.bottom-ul li a div.apple {
  background-image: url(../img/appleTab.png);
}
#work .bottom2-p {
  font-size:  14px;
  font-weight: bold;
  font-family: 'proxima_nova_rgregular';
}
/* #clients .client-img {
  width: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#clients .client-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
} */


/* .client-1 {
  background-image: url(../img/product-hunt.png);
}
.client-2 {
  background-image: url(../img/appstore.png);
}
.client-3 {
  background-image: url(../img/webrazzi.png);
}
.client-4 {
  background-image: url(../img/f6s.png);
}
.client-5 {
  background-image: url(../img/london-partners.png);
}
.client-6 {
  background-image: url(../img/businessmatters.png);
} */

#work .work {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#work .work:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.work-1 {
  background-image: url('../img/work1.png');
  background-color: #2f323d;
}
.work-2 {
  background-image: url('../img/work2.png');
  background-color: #4c311e;
}
.work-3 {
  background-image: url('../img/work3.png');
  background-color: #4e2ba2;
}
.work-4 {
  background-image: url('../img/work4.png');
  background-color: #1faca6;
}
.work-5 {
  background-image: url('../img/work5.png');
  background-color: #f1695b;
}
.work-6 {
  background-image: url('../img/work6.png');
  background-color: #ffe100;
}

.footer-section1-left {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
}
.footer-section1-left.left-1 {
  background-image: url(../img/ima1.png);
}
.footer-section1-left.left-2 {
  background-image: url(../img/ima2.png);
}
.footer-section1-left.left-3 {
  background-image: url(../img/ima3.png);
}
.footer-section1-left.left-4 {
  background-image: url(../img/ima4.png);
}
.footer-section1-left.left-5 {
  background-image: url(../img/ima5.png);
}