@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-regular/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proximanova-light/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-light/proximanova-light-webfont.woff2') format('woff2'), url('../fonts/proximanova-light/proximanova-light-webfont.woff') format('woff'), url('../fonts/proximanova-light/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proximanova-light/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova-semibold/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.woff2') format('woff2'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proximanova-semibold/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximanova-bold/proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* @font-face {
    font-family: 'osp-dindin';
    src: url('fonts/osp-din-webfont.eot');
    src: url('fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/osp-din-webfont.woff2') format('woff2'),
         url('fonts/osp-din-webfont.woff') format('woff'),
         url('fonts/osp-din-webfont.ttf') format('truetype'),
         url('fonts/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;

} */


/* New Footer */

.footer-section2 {
  width: 100%;
  height: auto;
  background-color: #343330;
  display: table;
}

.footer-section2-main {
  width: 80%;
  height: auto;
  margin: 0px auto;
  display: table;
  margin-top: 4%;
  padding-bottom: 1%;
}

.fs2-left {
  width: 50%;
  height: auto;
  float: left;
  display: table;
}

.fs2-right {
  width: 50%;
  height: auto;
  float: left;
  display: table;
}

.fs2-p {
  font-family: 'proxima_novalight';
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}

.lat {
  font-family: 'proxima_novalight';
  color: #ffffff;
  font-size: 17px;
  margin-top: 4%;
  font-weight: 700;
}

.fp-input {
  font-family: 'proxima_novalight';
  color: #43413E;
  font-size: 14px;
  padding-top: 2%;
  font-weight: 700;
}

.f-in {
  background: url(../img/messa.png) left no-repeat;
  height: 22px;
  background-color: #ffffff;
  background-position: 13px 8px;
  padding: 4% 15% 3% 10%;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
}

.subs {
  color: #ffffff;
  font-family: 'proxima_novalight';
  font-size: 17px;
  outline: medium none;
  /*padding: 10.4px 35px 7.5px 35px;*/
  padding: 2% 5% 1.5% 5%;
  background-color: #8AC832;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  line-height: 41px;
}

.subs:hover {
  color: #ffffff;
  text-decoration: none;
}

.social-ul {
  width: 100%;
  float: left;
  padding-left: 0%;
  margin-top: 2%;
}

.social-ul li {
  float: left;
  list-style: none;
  padding-right: 4%;
}

.social-ul li a {
  display: inline-block;
  margin: 0px 15px;
}

.social-ul li a.fb {
  background: url(../img/fb.png) no-repeat;
  width: 19px;
  height: 20px;
}

.social-ul li a.tw {
  background: url(../img/twi.png) no-repeat;
  width: 19px;
  height: 16px;
  margin-top: 5px;
}

.social-ul li a.ins {
  background: url(../img/pica.png) no-repeat;
  width: 19px;
  height: 19px;
}

.social-ul li a.you {
  background: url(../img/youtube.png) no-repeat;
  width: 24px;
  height: 19px;
}

.social-ul li a.gp {
  background: url(../img/goog.png) no-repeat;
  width: 19px;
  height: 18px;
}

.social-ul li a.in {
  background: url(../img/linkedin.png) no-repeat;
  width: 17px;
  height: 17px;
}

.fr-p {
  font-family: 'proxima_novalight';
  color: #ffffff;
  font-size: 18px;
  padding-top: 5%;
  padding-left: 20%;
  font-weight: 700;
}

.fr-p2 {
  font-family: 'proxima_nova_rgregular';
  color: #9B9FA2;
  font-size: 18px;
  padding-left: 20%;
  padding-top: 1%;
  line-height: 26px;
}

.fr-p2-link {
  color: #8AC832;
  text-decoration: underline;
}

.fr-p2-link:hover {
  color: #8AC832;
  text-decoration: none;
}

.footer-section3 {
  width: 100%;
      height: auto;
      background-color: #2c2a28;
}

.footer-section3-main {
  width: 79%;
  height: auto;
  padding-top: 1%;
  margin: 0px auto;
  display: table;
  padding-bottom: 1%;
}

.fs3-p {
  font-family: 'proxima_nova_rgregular';
  color: #fff;
  font-size: 14px;
  text-align: center;
}

button.subs2 {
  display: none;
}

.brand-section-main {
  width: 100%;
  height: auto;
  display: table;
  background-color: #222222;
  margin-bottom: 2%;
}

.brand-section-content {
  width: 1170px;
  height: auto;
  display: table;
  min-height: 392px;
  margin: 0px auto;
}

.brand1 {
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  text-decoration: none;
  font-size: 40px;
  line-height: 27px;
  width: 18%;
  float: left;
  margin-left: 9%;
  margin-top: 12%;
  margin-right: 6%;
}

.brand1-link {
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  text-decoration: none;
  font-size: 45px;
  line-height: 40px;
}

.brand1-link2 {
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  text-decoration: none;
  font-size: 21px;
  line-height: 0px;
}


/* Form Section */

.section6 {
  width: 100%;
  height: auto;
  display: table;
  padding-bottom: 3%;
  clear: both;
  background-color: #000;
}

.section6-main {
  width: 57%;
  height: auto;
  margin: 0px auto;
  display: table;
  margin-top: 1%;
  padding-bottom: 1%;
}

.section6-p {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
}

.section6-p2 {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}

.section6-main-left {
  width: 50%;
  height: auto;
  display: table;
  float: left;
}

.form-left-1 {
  width: 100%;
  height: auto;
  display: table;
  border-top: 1px solid #8AC832;
  border-right: 1px solid #8AC832;
}

.form-field-lable {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 18px;
  padding-top: 1%;
  padding-left: 3%;
}

.form-field-lable2 {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 18px;
  padding-top: 1%;
  padding-left: 1%;
}

.text_box_name {
  margin-left: 3%;
  margin-top: 1%;
  background: none;
  border: none;
  color: #fff;
  width: 89%;
  margin-bottom: 2%;
}

.text_box_name:focus {
  outline: none;
}

.textarea_project {
  width: 98%;
  background: none;
  border: none;
  height: 90px;
  padding-left: 10px;
  padding-top: 5px;
  color: #fff;
  resize: none;
  margin-top: 1%;
}

.section6-main-right {
  width: 50%;
  height: auto;
  display: table;
  float: left;
}

.form-right-1 {
  width: 100%;
  height: auto;
  display: table;
  border-top: 1px solid #8AC832;
}

.form-bottom {
  width: 100%;
  height: auto;
  display: table;
  clear: both;
  border-top: 1px solid #8AC832;
  border-bottom: 1px solid #8AC832;
}

.form-submit {
  float: right;
  line-height: 57px;
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 18px;
  margin-top: 5%;
}

.project_submit {
  height: 58px;
  width: 138px;
  color: #ea4b3b;
  /*background: url(http://cdnimg.julyrapid.com/wp-content/themes/julytheme/images/submit_arrow.png);*/
  background: url(../img/submit-arrow.png) no-repeat;
  background-size: 100% 100%;
  float: right;
  margin-left: 13px;
  cursor: pointer;
  border: none;
}


/*Footer Section1*/

.footer-section1 {
  width: 100%;
  height: auto;
  /*display: table;*/
  /*padding-bottom: 3%;*/
}

.footer-section1-left {
  width: 20%;
  height: auto;
  /*display: table;*/
  float: left;
}

.footer-section1-left img {
  position: absolute;
}

.f-title {
  font-family: 'proxima_novasemibold';
  color: #8AC832;
  font-size: 26px;
  text-align: center;
  position: relative;
  padding-top: 20%;
}

.f-con1 {
  font-family: 'proxima_nova_rgregular';
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.f-con1 a {
  color: #ffffff;
  text-decoration: none;
}

.f-con1 a:hover {
  color: #ffffff;
  text-decoration: none;
}

.con {
  padding-top: 5%;
}

.con2 {
  padding-top: 10%;
}

.con3 {
  padding-top: 17%;
}

.con4 {
  padding-top: 14%;
}

.con5 {
  padding-top: 23%;
}

.con6 {
  padding-top: 12%;
}

.con7 {
  padding-top: 17%;
}

p {
  padding: 0px;
  margin: 0px;
}


/* Form Styles */

.projecttype {
  cursor: pointer;
}

.projecttype-dropdown {
  display: none;
  position: absolute;
  width: 382px;
}

.projecttype-dropdown input {
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'proxima_nova_rgregular';
  color: #000000;
  font-size: 18px;
  padding-top: 1.5%;
  padding-left: 3%;
}

.appbud {
  cursor: pointer;
}

.projecttype-dropdown2 {
  display: none;
  position: absolute;
  width: 383px;
}

.projecttype-dropdown2 input {
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'proxima_nova_rgregular';
  color: #000000;
  font-size: 18px;
  padding-top: 1.5%;
  padding-left: 3%;
}

.thumb1,
.thumb2,
.thumb3,
.thumb4,
.thumb5,
.thumb6,
.thumb7,
.thumb8 {
  display: inline-block;
}

.thumb1 {
  background: url('../img/better-grey.png') no-repeat;
  width: 85px;
  height: 70px;
  margin-left: 10.5%;
}

a.pagi-image.thumb1.active {
  background: url('../img/better-color.png') no-repeat;
  width: 85px;
  height: 70px;
}

.thumb2 {
  background: url('../img/wings-grey.png') no-repeat;
  width: 85px;
  height: 70px;
}

a.pagi-image.thumb2.active {
  background: url('../img/wings-color.png') no-repeat;
  width: 85px;
  height: 70px;
}

.thumb3 {
  background: url('../img/timelooper_grey.png') no-repeat;
  width: 133px;
  height: 70px;
}

a.pagi-image.thumb3.active {
  background: url('../img/timelooper_color.png') no-repeat;
  width: 133px;
  height: 70px;
}

.thumb4 {
  background: url('../img/govego-grey.png') no-repeat;
  width: 193px;
  height: 70px;
}

a.pagi-image.thumb4.active {
  background: url('../img/govego-color.png') no-repeat;
  width: 193px;
  height: 70px;
}

.thumb5 {
  background: url('../img/hsn-grey.png') no-repeat;
  width: 78px;
  height: 74px;
}

a.pagi-image.thumb5.active {
  background: url('../img/hsn-color.png') no-repeat;
  width: 78px;
  height: 74px;
}

.thumb6 {
  background: url('../img/sms-grey.png') no-repeat;
  width: 102px;
  height: 74px;
}

a.pagi-image.thumb6.active {
  background: url('../img/sms-color.png') no-repeat;
  width: 102px;
  height: 74px;
}

.thumb7 {
  background: url('../img/filoturk-grey.png') no-repeat;
  width: 187px;
  height: 70px;
}

a.pagi-image.thumb7.active {
  background: url('../img/filoturk-color.png') no-repeat;
  width: 187px;
  height: 70px;
}

.thumb8 {
  background: url('../img/chall-grey.png') no-repeat;
  width: 142px;
  height: 74px;
}

a.pagi-image.thumb8.active {
  background: url('../img/chall-color.png') no-repeat;
  width: 142px;
  height: 74px;
}

a.pagi-image {
  margin-right: 10%;
}


/* Thank You Page */

.thankyou-main {
  width: 100%;
  height: auto;
  display: table;
  margin-top: 11%;
  min-height: 200px;
}

.thankyou-main-content {
  width: 80%;
  height: auto;
  display: table;
  margin: 0px auto;
}

.thank-message {
  font-family: 'proxima_nova_rgregular';
  color: #364045;
  font-size: 45px;
  text-align: center;
  padding-top: 2%;
}

.thank-message2 {
  font-family: 'proxima_nova_rgregular';
  color: #364045;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 3%;
}
