


/* @font-face {
    font-family: 'osp-dindin';
    src: url('fonts/osp-din-webfont.eot');
    src: url('fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/osp-din-webfont.woff2') format('woff2'),
         url('fonts/osp-din-webfont.woff') format('woff'),
         url('fonts/osp-din-webfont.ttf') format('truetype'),
         url('fonts/osp-din-webfont.svg#osp-dindin') format('svg');
    font-weight: normal;
    font-style: normal;

} */


/* New Footer */

.footer-section2 {
  width: 100%;
  height: auto;
  background-color: #343330;
  display: table;
}

.footer-section2-main {
  width: 80%;
  height: auto;
  margin: 0px auto;
  display: table;
  margin-top: 4%;
  padding-bottom: 1%;
}

.fs2-left {
  width: 50%;
  height: auto;
  float: left;
  display: table;
}

.fs2-right {
  width: 50%;
  height: auto;
  float: left;
  display: table;
}

.fs2-p {
  font-family: 'proxima_novalight';
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
}

.lat {
  font-family: 'proxima_novalight';
  color: #ffffff;
  font-size: 17px;
  margin-top: 4%;
  font-weight: 700;
}

.fp-input {
  font-family: 'proxima_novalight';
  color: #43413E;
  font-size: 14px;
  padding-top: 2%;
  font-weight: 700;
}

.f-in {
  background: url(../img/messa.png) left no-repeat;
  height: 22px;
  background-color: #ffffff;
  background-position: 13px 8px;
  padding: 4% 15% 3% 10%;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
}

.subs {
  color: #ffffff;
  font-family: 'proxima_novalight';
  font-size: 17px;
  outline: medium none;
  /*padding: 10.4px 35px 7.5px 35px;*/
  padding: 2% 5% 1.5% 5%;
  background-color: #8AC832;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  line-height: 41px;
}

.subs:hover {
  color: #ffffff;
  text-decoration: none;
}

.social-ul {
  width: 100%;
  float: left;
  padding-left: 0%;
  margin-top: 2%;
}

.social-ul li {
  float: left;
  list-style: none;
  padding-right: 4%;
}

.social-ul li a {
  display: inline-block;
  margin: 0px 15px;
}

.social-ul li a.fb {
  background: url(../img/fb.png) no-repeat;
  width: 19px;
  height: 20px;
}

.social-ul li a.tw {
  background: url(../img/twi.png) no-repeat;
  width: 19px;
  height: 16px;
  margin-top: 5px;
}

.social-ul li a.ins {
  background: url(../img/pica.png) no-repeat;
  width: 19px;
  height: 19px;
}

.social-ul li a.you {
  background: url(../img/youtube.png) no-repeat;
  width: 24px;
  height: 19px;
}

.social-ul li a.gp {
  background: url(../img/goog.png) no-repeat;
  width: 19px;
  height: 18px;
}

.social-ul li a.in {
  background: url(../img/linkedin.png) no-repeat;
  width: 17px;
  height: 17px;
}

.fr-p {
  font-family: 'proxima_novalight';
  color: #ffffff;
  font-size: 18px;
  padding-top: 5%;
  padding-left: 20%;
  font-weight: 700;
}

.fr-p2 {
  font-family: 'proxima_nova_rgregular';
  color: #9B9FA2;
  font-size: 18px;
  padding-left: 20%;
  padding-top: 1%;
  line-height: 26px;
}

.fr-p2-link {
  color: #8AC832;
  text-decoration: underline;
}

.fr-p2-link:hover {
  color: #8AC832;
  text-decoration: none;
}

.footer-section3 {
  width: 100%;
      height: auto;
      background-color: #2c2a28;
}

.footer-section3-main {
  width: 79%;
  height: auto;
  padding-top: 1%;
  margin: 0px auto;
  display: table;
  padding-bottom: 1%;
}

.fs3-p {
  font-family: 'proxima_nova_rgregular';
  color: #fff;
  font-size: 14px;
  text-align: center;
}

button.subs2 {
  display: none;
}

.brand-section-main {
  width: 100%;
  height: auto;
  display: table;
  background-color: #222222;
  margin-bottom: 2%;
}

.brand-section-content {
  width: 1170px;
  height: auto;
  display: table;
  min-height: 392px;
  margin: 0px auto;
}

.brand1 {
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  text-decoration: none;
  font-size: 40px;
  line-height: 27px;
  width: 18%;
  float: left;
  margin-left: 9%;
  margin-top: 12%;
  margin-right: 6%;
}

.brand1-link {
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  text-decoration: none;
  font-size: 45px;
  line-height: 40px;
}

.brand1-link2 {
  color: #ffffff;
  font-family: 'proxima_novasemibold';
  text-decoration: none;
  font-size: 21px;
  line-height: 0px;
}


/* Form Section */

.section6 {
  width: 100%;
  height: auto;
  display: table;
  padding-bottom: 3%;
  clear: both;
  background-color: #000;
}

.section6-main {
  width: 57%;
  height: auto;
  margin: 0px auto;
  display: table;
  margin-top: 1%;
  padding-bottom: 1%;
}

.section6-p {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
}

.section6-p2 {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 2%;
}

.section6-main-left {
  width: 50%;
  height: auto;
  display: table;
  float: left;
}

.form-left-1 {
  width: 100%;
  height: auto;
  display: table;
  border-top: 1px solid #8AC832;
  border-right: 1px solid #8AC832;
}

.form-field-lable {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 18px;
  padding-top: 1%;
  padding-left: 3%;
}

.form-field-lable2 {
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 18px;
  padding-top: 1%;
  padding-left: 1%;
}

.text_box_name {
  margin-left: 3%;
  margin-top: 1%;
  background: none;
  border: none;
  color: #fff;
  width: 89%;
  margin-bottom: 2%;
}

.text_box_name:focus {
  outline: none;
}

.textarea_project {
  width: 98%;
  background: none;
  border: none;
  height: 90px;
  padding-left: 10px;
  padding-top: 5px;
  color: #fff;
  resize: none;
  margin-top: 1%;
}

.section6-main-right {
  width: 50%;
  height: auto;
  display: table;
  float: left;
}

.form-right-1 {
  width: 100%;
  height: auto;
  display: table;
  border-top: 1px solid #8AC832;
}

.form-bottom {
  width: 100%;
  height: auto;
  display: table;
  clear: both;
  border-top: 1px solid #8AC832;
  border-bottom: 1px solid #8AC832;
}

.form-submit {
  float: right;
  line-height: 57px;
  font-family: 'proxima_nova_rgregular';
  color: #8AC832;
  font-size: 18px;
  margin-top: 5%;
}

.project_submit {
  height: 58px;
  width: 138px;
  color: #ea4b3b;
  /*background: url(http://cdnimg.julyrapid.com/wp-content/themes/julytheme/images/submit_arrow.png);*/
  background: url(../img/submit-arrow.png) no-repeat;
  background-size: 100% 100%;
  float: right;
  margin-left: 13px;
  cursor: pointer;
  border: none;
}


/*Footer Section1*/

.footer-section1 {
  width: 100%;
  height: auto;
  /*display: table;*/
  /*padding-bottom: 3%;*/
}

.footer-section1-left {
  width: 20%;
  height: auto;
  /*display: table;*/
  float: left;
}

.footer-section1-left img {
  position: absolute;
}

.f-title {
  font-family: 'proxima_novasemibold';
  color: #8AC832;
  font-size: 26px;
  text-align: center;
  position: relative;
  padding-top: 20%;
}

.f-con1 {
  font-family: 'proxima_nova_rgregular';
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.f-con1 a {
  color: #ffffff;
  text-decoration: none;
}

.f-con1 a:hover {
  color: #ffffff;
  text-decoration: none;
}

.con {
  padding-top: 5%;
}

.con2 {
  padding-top: 10%;
}

.con3 {
  padding-top: 17%;
}

.con4 {
  padding-top: 14%;
}

.con5 {
  padding-top: 23%;
}

.con6 {
  padding-top: 12%;
}

.con7 {
  padding-top: 17%;
}

p {
  padding: 0px;
  margin: 0px;
}


/* Form Styles */

.projecttype {
  cursor: pointer;
}

.projecttype-dropdown {
  display: none;
  position: absolute;
  width: 382px;
}

.projecttype-dropdown input {
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'proxima_nova_rgregular';
  color: #000000;
  font-size: 18px;
  padding-top: 1.5%;
  padding-left: 3%;
}

.appbud {
  cursor: pointer;
}

.projecttype-dropdown2 {
  display: none;
  position: absolute;
  width: 383px;
}

.projecttype-dropdown2 input {
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'proxima_nova_rgregular';
  color: #000000;
  font-size: 18px;
  padding-top: 1.5%;
  padding-left: 3%;
}

.thumb1,
.thumb2,
.thumb3,
.thumb4,
.thumb5,
.thumb6,
.thumb7,
.thumb8 {
  display: inline-block;
}

.thumb1 {
  background: url('../img/better-grey.png') no-repeat;
  width: 85px;
  height: 70px;
  margin-left: 10.5%;
}

a.pagi-image.thumb1.active {
  background: url('../img/better-color.png') no-repeat;
  width: 85px;
  height: 70px;
}

.thumb2 {
  background: url('../img/wings-grey.png') no-repeat;
  width: 85px;
  height: 70px;
}

a.pagi-image.thumb2.active {
  background: url('../img/wings-color.png') no-repeat;
  width: 85px;
  height: 70px;
}

.thumb3 {
  background: url('../img/timelooper_grey.png') no-repeat;
  width: 133px;
  height: 70px;
}

a.pagi-image.thumb3.active {
  background: url('../img/timelooper_color.png') no-repeat;
  width: 133px;
  height: 70px;
}

.thumb4 {
  background: url('../img/govego-grey.png') no-repeat;
  width: 193px;
  height: 70px;
}

a.pagi-image.thumb4.active {
  background: url('../img/govego-color.png') no-repeat;
  width: 193px;
  height: 70px;
}

.thumb5 {
  background: url('../img/hsn-grey.png') no-repeat;
  width: 78px;
  height: 74px;
}

a.pagi-image.thumb5.active {
  background: url('../img/hsn-color.png') no-repeat;
  width: 78px;
  height: 74px;
}

.thumb6 {
  background: url('../img/sms-grey.png') no-repeat;
  width: 102px;
  height: 74px;
}

a.pagi-image.thumb6.active {
  background: url('../img/sms-color.png') no-repeat;
  width: 102px;
  height: 74px;
}

.thumb7 {
  background: url('../img/filoturk-grey.png') no-repeat;
  width: 187px;
  height: 70px;
}

a.pagi-image.thumb7.active {
  background: url('../img/filoturk-color.png') no-repeat;
  width: 187px;
  height: 70px;
}

.thumb8 {
  background: url('../img/chall-grey.png') no-repeat;
  width: 142px;
  height: 74px;
}

a.pagi-image.thumb8.active {
  background: url('../img/chall-color.png') no-repeat;
  width: 142px;
  height: 74px;
}

a.pagi-image {
  margin-right: 10%;
}


/* Thank You Page */

.thankyou-main {
  width: 100%;
  height: auto;
  display: table;
  margin-top: 11%;
  min-height: 200px;
}

.thankyou-main-content {
  width: 80%;
  height: auto;
  display: table;
  margin: 0px auto;
}

.thank-message {
  font-family: 'proxima_nova_rgregular';
  color: #364045;
  font-size: 45px;
  text-align: center;
  padding-top: 2%;
}

.thank-message2 {
  font-family: 'proxima_nova_rgregular';
  color: #364045;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 3%;
}

@media only screen and (min-width:0px) and (max-width: 470px)/*Samsung galaxy S4 Portrait*/
{ 
  .con-mail
  {
    margin-bottom:19%;
  }
}
@media only screen and (min-width:0px) and (max-width: 650px)
{
  html,body
  {
    overflow-x:hidden !important;
  }
  html
  {
    overflow-y: visible !important;
  }
  .navbar-brand
  {
    display:none;
  }
  a.ht-start
  {
    margin-left: 0%;
    margin-top: 4%;
  }
  .bann-mid
  {
    padding-top: 21.5%;
  }
  .ban-p 
  {
    color: #ffffff;
    font-family: 'proxima_novalight';
    font-size: 35px;
    text-align: center;
    line-height: 37px;
  }
  .get-p 
  {
    text-align: center;
    margin-left: 31%;
    margin-top: 24.5%;
  }
  .get-a
  {
    margin-left: 0%;
  }
  .cross-ul
  {   
    background:url('../img/greenclose.png') right no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    background-position-y: 3px;
  }
  .text-center
  {
    text-align:left !important;
  }
  .text-center ul li a:hover
  {
    color:#ffffff;
    text-decoration:none;
  }
  
  .text-center ul li a 
  {
    font-size: 18px;
    font-weight: 900;
    font-family: 'proxima_novalight';
    letter-spacing: 1px;
  padding-left: 2.5%;
  }
  .menu-div
  {
    border-bottom: 1px solid #ffffff;
  }
  .text-center ul li
  {
    cursor: pointer;
  }
  .m-first
  {
    background:url('../img/plusbig.png') right no-repeat;
    margin-right: 6%;
    background-position-y: 15px;
  } 
  .m-first2
  {
    background:url('../img/plusbig.png') right no-repeat;
    margin-right: 6%;
    background-position-y: 15px;
    margin-bottom: 0px !important;
  } 
  .m-second
  {
    background:url('../img/plusbig.png') right no-repeat;
    margin-right: 6%;
    background-position-y: 15px;
  } 
  .m-second2
  {
    background:url('../img/plusbig.png') right no-repeat;
    margin-right: 6%;
    background-position-y: 15px;
    margin-bottom: 0px !important;
  }   
  .m-fourth
  {
    background:url('../img/plusbig.png') right no-repeat;
    margin-right: 6%;
    background-position-y: 15px;
  } 
  .m-child-m2
  {
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display:none;
  } 
  .m-child-m2  li
  {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 7px !important;
    margin-bottom: 0px !important;
    border-bottom: 1px solid #ffffff;
  }
  .m2-child-m2
  {
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display:none;
  } 
  .m2-child-m2  li
  {
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 7px !important;
    margin-bottom: 0px !important;
  }
  .m2-first
  {
  background: url('../img/plusbig.png') right no-repeat;
    background-position-y: 20px;
    background-position-x: 93.6%;
  }
  ul.m3-child-m2 
  {
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display: none;
  }
  .m3-child-m2 li
  {
    border:none;
  }
  .m3-child-m2 li a
  {
    font-weight: normal !important;
  }
  .m2-first2
  {
    border-bottom: none !important;
  }
  .m3-first3
  {
    border-bottom: none !important;
  }
  .m4-first4
  {
    border-bottom: none !important;
  }
  .last-li
  {
    border-bottom:1px solid #ffffff !important;
  } 
  .m3-first
  {
  background: url('../img/plusbig.png') right no-repeat;
    background-position-y: 20px;
    background-position-x: 93.6%;
  } 
  ul.m4-child-m2 
  {
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display: none;
  }
  .m4-child-m2 li
  {
    border:none;
  }
  .m4-child-m2 li a
  {
    font-weight: normal !important;
  } 
  .m4-first
  {
  background: url('../img/plusbig.png') right no-repeat;
    background-position-y: 20px;
    background-position-x: 93.6%;
  } 
  ul.m5-child-m2 
  {
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display: none;
  }
  .m5-child-m2 li
  {
    border:none;
  }
  .m5-child-m2 li a
  {
    font-weight: normal !important;
  }
  ul.m6-child-m2
  {
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    display: none;
  }
  .m6-child-m2 li
  {
    border:none;
  }
  .m6-child-m2 li a
  {
    font-weight: normal !important;
  }
  .content-1-left
  {
    width: 93%;
    margin-bottom: 5%;
  }
  .content-2-left
  {
    width: 93%;
    padding-bottom: 10%;
    height:auto;
  }
  .content-2-left1,.content-2-left2,.content-2-left3
  {
    width: 93%;
    margin-left: 3%;
    padding-bottom: 10%;
    height:auto;
  }
  .section3
  {
    display:none;
  }
  .section3-mobile
  {
    display:block;
  }
  .section2-main
  {
    width:100%;
  }
  .section2-left
  {
    width: 87%;
    margin-left: 6%;
  }
  .section2-left-2
  {
    width: 87%;
    margin-left: 6%;
    margin-top: 7%;
  } 
  .section3
  {
    width:100%;
  }
  .section3-content1
  {
    width:100%;
  }
  .section3-content1-left
  {
    width:100%;
    float:none;
  }
  p.section3-imagep 
  {
    text-align: center;
  }
  .section3-content1-right
  {
    width:100%;
  }
  .section3-maincontent 
  {
    width: 94%;
  }
  .secondtitle
  {
    padding-left:7% !important;
    width: 95%;
  }
  .section4-main
  {
    width:91%;
  }
  p.section4-p 
  {
    line-height: 36px;
    padding-top: 7%;
    font-size: 39px;
  }
  .section4-p2 
  {
    font-size: 25px;
    padding-top: 4%;
  }
  .section5-main
  {
    width:100%;
  }
  /*.box 
  {
    width: 426px;
    height: 426px;
  }*/
  .section5-left 
  {
    margin-bottom: 5%;
  } 
  .footer-section1-left
  {
    width:100%;
  }
  .footer-section1-left img
  {
    width: 100%;
  }
  .f-title
  {
    padding-top: 28%;
  }
  .f-con1
  {
    font-size: 17px;
  }
  .footer-section1
  {
    padding-bottom:0;
  }
  .footer-section2-main,.fs2-left
  {
    width:100%;
  }
  .fs2-p 
  {
    text-align: center;
  }
  .f-in
  {
    padding: 7% 15% 6% 10%;
    border-radius: 4px;
    width: 80%;
    margin-left: 9%;
  background-position: 43px 10px;
    text-align: center;
  }
  .subs 
  {
    display:none;
  }
  button.subs2 
  {
    display: block;
    width: 50%;
    text-align: center;
    height: 45px;
    color: #8AC832;
    font-family: 'proxima_novalight';
    font-size: 17px;
    outline: medium none;
    border: 2px solid #8AC832;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #343330;
    font-weight: bold;
    margin-left: 23%;
    margin-top: 4%;
  }
  p.lat 
  {
    text-align: center;
  }
  .social-ul
  {
    margin-top: 5%;
    margin-left: 10%;
  }
  .social-ul li 
  {
    padding-right: 11%;
  }
  .fs2-right
  {
    width:100%;
  }
  .fr-p 
  {
    padding-left: 0px;
    text-align: center;
  }
  .fr-p2
  {
    padding-left:10%;
    width: 90%;
  }
}

@media only screen and (min-width:480px) and (max-width: 650px)/*Samsung galaxy S4 Landscape*/
{
  #mobile-nav-modal-wrap #mobile-nav-wrap 
  {
    font-size: 26px;
    top: 120%;
    clear: both;
  } 
  .get-a
  {
    margin-left: 8%;
  }
  .bann-mid 
  {
    padding-top: 29.5%;
  }
  .get-p
  {
    margin-top: 18.5%;
  }
  .section5-left 
  {
  float:none;
    margin: 0px auto;
  }
  .f-in 
  {
    padding: 6% 15% 5% 10%;
    background-position: 140px 24px;
  }
  .con-mail
  {
    margin-bottom: 32%;
  }
}

@media only screen and (min-width:0px) and (max-width: 320px) { 
  #mobile-nav-modal-wrap #mobile-nav-wrap 
  {
    font-size: 26px;
    top: 80%;
    clear: both;
  } 
  .get-p 
  {
    margin-left: 23%;
  } 
  .bann-mid 
  {
    padding-top: 49.5%;
  }
  .h-start2 
  {
    font-size: 34px;
  }
  .section2-left,.section2-left-2
  {
    width: 86%;
  }
  .section2-left img,.section2-img img
  {
    width: 80%;
  }
  .box 
  {
    width: 270px;
    height: 270px;
  }
  .con-mail 
  {
    margin-bottom: 13%;
  }
  .f-in
  {
    background-position: 23px 8px;
  }
  .social-ul li 
  {
    padding-right: 8%;
  }
  .fr-p 
  {
    font-size: 17px;
  }
}
